.b-header{
    background-color: #FFFEFE;
    width: 100%;
    height: 72px;
    display: flex;
}

.b-header .menu .dx-button-text{
    font-weight: bold;
    font-size: 16px;
    color: #fff;
}

.b-header .menu .dx-button-mode-contained{
    border-radius: 4px;
    background-color: #DC7FBC;
}

.b-header .router-link-active.router-link-exact-active .dx-button-mode-contained{
    background-color: #c266a3 !important;
}

.b-header .b-setting{
    border: 1px solid #E0E0E0;
    padding: 12px 0px;
    background-color: #fff;
    border-radius: 4px;
}

.b-setting .item{
    padding: 8px 12px;
}

.b-setting .item:hover{
    background-color: #E0E0E0;
    cursor: pointer;
}